!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css')
  body
    block body
